.timer-bg {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
  border: 2px;
  background-color: #ede4e4;
  height: 120px;
  width: auto;
}
.heading {
  padding: 3px;
  margin-bottom: 1.5px;
  margin-top: 1px;
}
